{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django Framework</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi incidunt, autem, beatae 
        deserunt aspernatur veritatis necessitatibus, tempora aperiam saepe natus architecto 
        quibusdam iusto. Ex minus voluptates reiciendis reprehenderit iusto neque! Facere nobis 
        dicta soluta aut amet perferendis odit laborum doloribus voluptas in distinctio error 
        pariatur dignissimos iste quam vitae, nemo veritatis nisi accusamus qui, quisquam dolores. 
        Harum adipisci consectetur reiciendis perferendis id facilis debitis optio impedit vero 
        explicabo aperiam in nulla dicta earum assumenda atque, at ipsam facere amet quisquam. 
        Laboriosam vel natus impedit ducimus laborum neque id, iure quaerat praesentium. Molestiae 
        reiciendis praesentium dolore quos vitae error similique modi!</p>

        <div class="text-center">
            <a class="btn btn-primary" href="/signin/">
                Iniciar Sesion
            </a>
            <a class="btn btn-primary" href="/signup/">
                Registrarse
            </a>
        </div>
    </section>
</main>
{% endblock %}
